@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: darkgrey;
    min-height: 100vh;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}
header h1{
    padding-top: 50px;
    font-variant: small-caps;
}
header p{
    padding-bottom: 50px;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
}
section p {
    line-height: 2em;
}
.normal{
    background-color: white;
}
.imagem{
    color: white;
    background-color: rgb(41, 40, 40);
}
.imagem p{
    background-color: rgba(0, 0, 0, 0.164);
    width: 400px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}