@charset "UTF-8";

body{
    background-color: #FA8773;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #7A4238;
}
#principal{
    text-align: center;
    background-color: #7a3838;
    color: #3D211C;
}
h2{
    font-family: 'Times New Roman', Times, serif;

}
p{
    text-align: justify;
}
.basico{
    color:#77fa73 ;
}
.intermediario{
    color:#fae673
}
.avançado{
    color:#fa7c73
}
.destaque{
    color: #7A4238;
    font-weight: bold;
}