@charset "UTF-8";

*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 25vh 25vh 25vh 25vh;
}
div{
    background-color: white;
    grid-column: 3/4;
    grid-row: 1/1;
}
header{
    background-color: aqua;
    grid-column:1/1 ;
    grid-row: 1/3;
}
main{
    background-color: darkblue;
    grid-column:2/4 ;
    grid-row: 1/3;
}
aside{
    background-color: darkgreen;
    grid-row: 4/4;
    grid-column: 1/4;
}
footer{
    background-color: yellow;
    grid-column: 1/4;
    grid-row: 3/4;
}